/* CSS Document */

body {
	font-family: Gill Sans, san-seriff;
	background-color: orange;
	margin: 0;
}
.navbar {
	position: fixed;
	width: 100%;
	display: inline-flex;
	justify-content: space-around;
	top: 0;
	background-color: orange;
	font-size: 20px;
}

.navbar a {
	text-decoration: none;
	padding: 10px 15px;
	color: black;
}
.navbar a:hover {
	background-color: darkorange;
	padding: 15 px 20 px;
}

.logo {
	text-align: center;
    padding: 10px 0;
}

.intro-section {
	text-align: center;
	padding: 50px;
}

.pricing {
	text-align: center;
	padding: 30px 0;
}
.book {
    text-align: center;
    padding: 50px 0;
    background-color: dodgerblue;
    color: white;
}
.book a:hover {
	background-color: floralwhite;
}

.meet {
	text-align: center;
	padding: 50px 0;
}

.contactus {
	text-align: center;
	padding: 20px 0;
}

.form {
	text-align: center;
	padding: 30px 0;
	background-color: orange;
	color: dodgerblue;
	width: 90%;
	margin: 0 auto;
}

.contactinfo {
	text-align: center;
	padding: 30px 0;
	background-color: dodgerblue;
	color: white;
	width: 90%;
	margin: 0 auto;
}


.icon {
	position: fixed;
	bottom: 10px;
	right: 10px;
}
@ media screen and (max-width: 768px) {
	.navbar {
		flex-direction: column;
	}
	.navbar a {
		padding: 15px 0;
		width: 100%
	}
	.navbar a:hover {
		padding: 15px 0;
	}
}
